/**
 * COLORS
 * 
 * color1: #F9F3EC color-w
 * color2: #DA7F27 color-1
 * color3: #A26F41 color-2
 * color4: #75482A color-3
 * color4: #312520 color-bg
 */

/*************************************************/

.brand-logo {
    font-family: 'Fanwood';
    text-shadow: 2px 0 0 #75482A, -2px 0 0 #75482A, 0 2px 0 #75482A, 0 -2px 0 #75482A, 1px 1px #75482A, -1px -1px 0 #75482A, 1px -1px 0 #75482A, -1px 1px 0 #75482A;
}

.bg-color-bg {
    background-color: #312520;
}

.w100 {
    width: 100%;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
}

.item {
    display: block;
    position: relative;
    text-align: center;
    color: white;
}

.item img:hover {
    opacity: 0.64;
}

.item span {
    top: 50%;
    left: 50%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

.border {
    border: 2px;
    border-style: solid;
    border-color: #A26F41;
    border-radius: 5px;
}

/*************************************************/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto';
    color: #333333;
    background-color: #F9F3EC;
}

main {
    flex: 1 0 auto;
}

p {
    text-align: justify;
}